*
!.gitignore
!.clang-format
!README.md
!CMakeLists.txt
!run_all_tests.sh
!src/
!src/grayscale.c
!src/stb_image_write.h
!src/stb_image.h
!tests/
!tests/test.c
!tests/opencv_reference.cpp
!.github/
!.github/workflows/
!.github/workflows/test.yml
!images/
!images/rose.jpg
!images/girl.png
scripts/test.sh
scripts/build.sh
